   {% extends 'store/base.html' %}
   {% load static %}
    {%block content%}
     <div class="row">
       <div class="col-lg-12">
         <!-- header -->
         <div class="box-element">
            <a href="{% url 'store' %}" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i> Continue Shopping</a>
            <br>
            <br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col"><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                  <th scope="col"><h5>Total: <strong>$ {{order.get_cart_total|floatformat:2}}</strong></h5></th>
                  <th scope="col">
                    <a class="btn btn-success check-btn" href="{% url 'checkout' %}">Checkout</a>
                  </th>
                </tr>
              </thead>
            </table>
          
         </div>
          <br>
         <!-- table -->
         <div class="box-element">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="row"></th>
                  <th scope="row">Item</th>
                  <th scope="row">Price</th>
                  <th scope="row">Quantity</th>
                  <th scope="row">Total</th>
                </tr>
              </thead>
              {%for item in items%}
              <tbody>
                <tr>
                  <th scope="row"><img class="prod-image" src="{{item.product.imageURL}}" alt=""></th>
                  <td>{{item.product.name}}</td>
                  <td>$ {{item.product.price|floatformat:2}}</td>
                  <td >
                   <p class="quantity">{{item.quantity}}
                     <div class="quantity">
                      <i class="chg-quantity fas fa-angle-up fa-xs"></i>
                      <i class="chg-quantity fas fa-angle-down fa-xs"></i>
                    </div>
                   </p>
                   
                  </td>
                  <td>$ {{item.get_total}}</td>
                </tr>
                
              </tbody>
              {%endfor%}
            </table>
         </div>
        <br>
       </div>
     </div>

    {%endblock%}